{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}New{% endblock %}</h1>    
{% endblock %}

{% block content %}

<form method="post">
    <label for="AppCode">Application</label>
    <input name="AppCode" id="AppCode" value="{{ request.form['AppCode'] }}" required>
    <label for="Algorithm">Secret Algorithm</label>
    <select name="Algorithm" id="Algorithm" value="{{ request.form['Algorithm'] }}">
        <option>ecdsa256</option>
    </select>\
    <label for="PublicKey">PublicKey</label>
    <input name="PublicKey" id="PublicKey" value="{{ request.form['PublicKey'] }}">
    <label for="PrivateKey">PrivateKey</label>
    <input name="PrivateKey" id="PrivateKey" value="{{ request.form['PrivateKey'] }}">
    <label for="CreatedBy">CreatedBy</label>
    <input name="CreatedBy" id="CreatedBy" value="{{ request.form['CreatedBy'] }}">
    <input type="submit" value="Save">
</form>

{% endblock %}